body {
  font-family: "Montserrat";
}

p {
  color: #071f0f;
  font-size: large;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #725b7146;
}

/* Navigation Bar */
#navbar_brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  padding: 0;
}

/* Title Images */

.title_image1 {
  width: 95%;
  height: 50vh;
  padding-left: 0;
  transform: rotate(-10deg);
}
.title_image2 {
  width: 95%;
  height: 50vh;
  padding-left: 0;
  transform: rotate(-10deg);
}
.title_image3 {
  width: 95%;
  height: 50vh;
  padding-left: 0;
  transform: rotate(10deg);
}

/* Features Section */

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.title_features {
  font-family: "Montserrat", sans-serif;
}

.icon {
  color: #725b71b7;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #251f2546;
}
