p {
  color: #071f0f;
  font-size: 1.75rem;
}

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title,
#cta {
  background-color: #725b7146;
}

#testimonials,
#press {
  background-color: #cac4ce;
}

/* Navigation Bar */

#navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  padding: 0;
}

/* Title Images */

.title_image1,
.title_image2,
.title_image3 {
  width: 95%;
  height: 50vh;
  padding-left: 0;
  position: absolute;
}
.title_image1 {
  transform: rotate(-5deg);
}
.title_image2 {
  transform: rotate(-5deg);
  right: 20%;
}
.title_image3 {
  transform: rotate(5deg);
  right: 15%;
}

/* Features Section */

#features {
  padding: 2% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #725b71b7;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #251f2546;
}

/* Testimonial Section */

.carousel-item {
  padding: 4% 15%;
}

.testimonials_img {
  width: 25%;
  border-radius: 25px;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px;
}

/* Pricing */
#pricing {
  padding: 2%;
}

.pricing-column {
  padding: 3% 2%;
}
